.divfooter {
    display: grid;
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-template-columns: 25% 50% 25%;
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin: 5px 10px;
        font-size: 20px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            li {
                margin: 12px;
            }
        }
    }
}
