@tailwind base;
@tailwind components;
@tailwind utilities;

$dark: #242424;
$light: rgba(255, 255, 255, 0.87);


body{
    background-color: $light;
}

body.dark{
    background-color:$dark;
    color: white;

    .switch{
        background-color: $light;
    }

    
}

