@tailwind base;
@tailwind components;
@tailwind utilities;

// @import './home.scss';
// @import './footer.scss';
// @import './navbar.scss';
// @import './sidebar.scss';


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$dark: #242424;
$light: rgba(255, 255, 255, 0.87);


body{
    background-color: $light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body.dark{  
    background-color:$dark;
    color: white;

    .switch{
        background-color: $light;
    }

    nav{
        -webkit-backdrop-filter: saturate(50%) blur(8px);
        backdrop-filter: saturate(50%) blur(8px);
        background: rgba(36,36,36,.7)
    }

    
}

